<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fsAudit.Properties.Settings.LifeConnectionString"
            connectionString="Data Source=corrin;Initial Catalog=Life;Persist Security Info=True;User ID=hagal;Password=changeme"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>